body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana;
}

/* Defines labels and input elements alignments */
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 120px;
    text-align: left; 
}
input {
  display: inline-block;
  float: left;
}

/* MainDiv Formatting */
.maindiv
{
    background-color:white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    text-align: left;
}

/* Formats the internal div (inside maindiv) so the content can be centralized */
.subdiv {
    margin: auto;
    width: 70%;
    padding: 5px;
}
